.App {
  text-align: center;
}

.App-logo {
  background-color: #fff;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    border-radius: 10%;
  }
}

.App-header {
  background-color: #43edd3;
  background: -moz-linear-gradient(-45deg, #43edd3 0%, #d135ed 100%);
  background: -webkit-linear-gradient(-45deg, #43edd3 0%, #d135ed 100%);
  background: linear-gradient(135deg, #43edd3 0%, #d135ed 100%);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
